{% spaceless %}
<html>
    <head>
    </head>
    <body>
        <table>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
            </tr>
            {%- for user in result -%}
                <tr>
                    <td>
                        {{- user.id -}}
                    </td>
                    <td>
                        {{- user.firstName -}}
                    </td>
                    <td>
                        {{- user.lastName -}}
                    </td>
                    <td>
                        {{- user.birthday -}}
                    </td>
                </tr>
            {%- endfor -%}
        </table>
    </body>
</html>
{% endspaceless %}
